#rooms-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);

}
.room-preview-container {
    display: inline-block;
    border: 1px solid black;
    height: 150px;
    margin: 20px;
}
.room-info::after {
    content: " user(s) connected";
}

.join-room-button {
    height: 35px;
    width: 100px;
    font-size: 14px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    text-transform: uppercase;
    padding: 0 15px;
    margin: 10px;
    cursor: pointer;
}
.roomInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.room-name {
    font-size: 20px;
}