.game-place-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 20px;
}
.left-page-part, .right-page-part {
    width: 100%;
    padding: 10px;
    margin: 20px;
}

.players-container-list {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.player-container {
    margin: 10px;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}
.player-container:last-child {
    border-bottom: none;
}
.player-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin: 10px;
}
.player-flag {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid black;
}

.my-player-name:after{
    content: ' (you)';
}
 .ready {
    background-color: green;
}
.not-ready {
    background-color: red;
}
.colored-text {
    background-color: greenyellow;
}
.underlined-text{
    text-decoration: underline;
}
.status-bar, .status-bar-indicator {
    width: 100%;
    height: 20px;
    border-radius: 5%;
    border: 1px solid black;
}
.status-bar-indicator {
    width: 0;
    background-color: green;
}

.status-bar-indicator.completed {
    background-color: greenyellow;
}

.text-conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-text-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#button-ready.button-root-control,
.game-text-container #timer,
.game-text-container #text {
    align-self: center;
    position: absolute;
}


